body {
	height: 100%;

}

.board {
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 1em;
	padding: 0 2em 1em;
	


}

.space {
	display: grid;
	align-items: center;
	box-shadow: 0 0 2em;
	text-align: center;
	height: 20vh;
	padding: 0 5px;
}

.tile {
	outline: solid green;
	
}




#buttons {
	outline: solid blue;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;	
	padding: 2em;
	gap: 100px;
}












